@page
@model RealEstate.Pages.Agents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Agents</h1>

<p>
    <a asp-page="Create">Create New</a> |
    <a asp-page="./Search">Search</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].AgentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].SalesOfficeAssoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agent[0].PhoneNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Agent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesOfficeAssoc.SalesOfficeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AgentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AgentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AgentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
