@page
@model RecruitCatAgarwadu.Pages.Candidates.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Candidate: @Html.DisplayFor(model => model.Candidate.FirstName) @Html.DisplayFor(model => model.Candidate.LastName)</h1>

<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.TargetSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.TargetSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.CompanyAssoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.CompanyAssoc.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.JobTitleAssoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.JobTitleAssoc.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.IndustryAssoc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.IndustryAssoc.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Experience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.LinkedInUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.LinkedInUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate.PhoneNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate.PhoneNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Candidate.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
